.current-question {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 30px;
  top: 30px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: #F09319;
  color: white;
  font-size: 3em;
}

.answer-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.next-question {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 30px;
  top: 30px;
  height: 60px;
  width: 80px;
  border-radius: 10px;
  background-color: #F09319;
  cursor: pointer;
}
